body {
    overflow-x:hidden; 
}

*{
    color: #6b6b6b;
}

nav{
    background-color: #a3acbd;
}  

#home{
    background-image: url(resources/home-background.jpg);
    background-size:cover;
    background-position: center;
}

#home h1{
    font-size: 80px;
    text-align: center;
    padding-top: 10%;
    color: #6390e3;
    background:linear-gradient(90deg, #afbee5 0%, #6390e3 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

#home p{
    font-size: 30px;
    padding: 9%;
    text-align: justify;
    background:linear-gradient(90deg, #afbee5 -10%, #293e63 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

#home, #skills, #resume{
    background-color: #EAEAEA;
}

.poject-container{
    height: auto;
    padding: 1% 5%;
}

.poject-container img{
    width: 90%;
}

.poject-container a img{
    width: 6%;
}

.web-poject-container img{
    width: 90%;
}

#blog img{
    width: 90%;
    margin-left: 5%;
}

#blog p, #blog a{
    text-align: justify;
    padding: 20px;
}

#contact{
    text-align: center;
    margin-bottom: 50px;
}

#contact p{
    font-size: 30px;
}

.contact-methods img{
    width: 70px;
    height: 70px;
    margin:5px 20px;
    padding:5px;
}

section h2{
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 20px;
}

#projects, #skills, #resume, #blog, #contact{
    padding: 55px;
}

.work-description{
    font-size: 20px;
    text-align: justify;
}

#resume p{
    font-size: 25px;
}

.resume-file{
    text-align: center; 
    margin-top: 55px;
}

#skills{
    text-align:center;
}

#skills img{
    width: 90px;
    height: 90px;
    display:inline-block;
    margin:5px 20px;
    padding:5px;
}

.profesional-experience{
    margin-bottom: 65px;
}